EmployeeWS/WebContent/WEB-INF/wsdl/JaxwsEmployee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://employeews.sirius.com/employee/wsdl" name="JaxwsEmployee" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://employeews.sirius.com/employee/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://employeews.sirius.com/employee/wsdl" schemaLocation="JaxwsEmployee_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getEmployeeByEmail">
    <part name="parameters" element="tns:getEmployeeByEmail"/>
  </message>
  <message name="getEmployeeByEmailResponse">
    <part name="parameters" element="tns:getEmployeeByEmailResponse"/>
  </message>
  <message name="addEmployee">
    <part name="parameters" element="tns:addEmployee"/>
  </message>
  <message name="addEmployeeResponse">
    <part name="parameters" element="tns:addEmployeeResponse"/>
  </message>
  <message name="updateEmployee">
    <part name="parameters" element="tns:updateEmployee"/>
  </message>
  <message name="updateEmployeeResponse">
    <part name="parameters" element="tns:updateEmployeeResponse"/>
  </message>
  <portType name="Employee">
    <operation name="getEmployeeByEmail">
      <input wsam:Action="getEmployeeByEmail" message="tns:getEmployeeByEmail"/>
      <output wsam:Action="http://employeews.sirius.com/employee/wsdl/Employee/getEmployeeByEmailResponse" message="tns:getEmployeeByEmailResponse"/>
    </operation>
    <operation name="addEmployee">
      <input wsam:Action="addEmployee" message="tns:addEmployee"/>
      <output wsam:Action="http://employeews.sirius.com/employee/wsdl/Employee/addEmployeeResponse" message="tns:addEmployeeResponse"/>
    </operation>
    <operation name="updateEmployee">
      <input wsam:Action="updateEmployee" message="tns:updateEmployee"/>
      <output wsam:Action="http://employeews.sirius.com/employee/wsdl/Employee/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
    </operation>
  </portType>
  <binding name="employeeBinding" type="tns:Employee">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getEmployeeByEmail">
      <soap:operation soapAction="getEmployeeByEmail"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addEmployee">
      <soap:operation soapAction="addEmployee"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateEmployee">
      <soap:operation soapAction="updateEmployee"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxwsEmployee">
    <port name="employee" binding="tns:employeeBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

