GenerateCartWS/WebContent/WEB-INF/wsdl/JaxwsOfficeAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="JaxwsOfficeAdmin" targetNamespace="http://adminws.sirius.com/officeAdmin/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://adminws.sirius.com/officeAdmin/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://adminws.sirius.com/officeAdmin/wsdl" schemaLocation="JaxwsOfficeAdmin_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addVisitors">
    <part element="tns:addVisitors" name="parameters"/>
  </message>
  <message name="addVisitorsResponse">
    <part element="tns:addVisitorsResponse" name="parameters"/>
  </message>
  <message name="addHoliday">
    <part element="tns:addHoliday" name="parameters"/>
  </message>
  <message name="addHolidayResponse">
    <part element="tns:addHolidayResponse" name="parameters"/>
  </message>
  <message name="deleteHoliday">
    <part element="tns:deleteHoliday" name="parameters"/>
  </message>
  <message name="deleteHolidayResponse">
    <part element="tns:deleteHolidayResponse" name="parameters"/>
  </message>
  <message name="getAllHolidays">
    <part element="tns:getAllHolidays" name="parameters"/>
  </message>
  <message name="getAllHolidaysResponse">
    <part element="tns:getAllHolidaysResponse" name="parameters"/>
  </message>
  <message name="getUnapprovedEmployees">
    <part element="tns:getUnapprovedEmployees" name="parameters"/>
  </message>
  <message name="getUnapprovedEmployeesResponse">
    <part element="tns:getUnapprovedEmployeesResponse" name="parameters"/>
  </message>
  <message name="getOfficeAdmin">
    <part element="tns:getOfficeAdmin" name="parameters"/>
  </message>
  <message name="getOfficeAdminResponse">
    <part element="tns:getOfficeAdminResponse" name="parameters"/>
  </message>
  <portType name="OfficeAdmin">
    <operation name="addVisitors">
      <input message="tns:addVisitors" wsam:Action="addVisitors"/>
      <output message="tns:addVisitorsResponse" wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/addVisitorsResponse"/>
    </operation>
    <operation name="addHoliday">
      <input message="tns:addHoliday" wsam:Action="addHoliday"/>
      <output message="tns:addHolidayResponse" wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/addHolidayResponse"/>
    </operation>
    <operation name="deleteHoliday">
      <input message="tns:deleteHoliday" wsam:Action="deleteHoliday"/>
      <output message="tns:deleteHolidayResponse" wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/deleteHolidayResponse"/>
    </operation>
    <operation name="getAllHolidays">
      <input message="tns:getAllHolidays" wsam:Action="getAllHolidays"/>
      <output message="tns:getAllHolidaysResponse" wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/getAllHolidaysResponse"/>
    </operation>
    <operation name="getUnapprovedEmployees">
      <input message="tns:getUnapprovedEmployees" wsam:Action="getUnapprovedEmployees"/>
      <output message="tns:getUnapprovedEmployeesResponse" wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/getUnapprovedEmployeesResponse"/>
    </operation>
    <operation name="getOfficeAdmin">
      <input message="tns:getOfficeAdmin" wsam:Action="getOfficeAdmin"/>
      <output message="tns:getOfficeAdminResponse" wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/getOfficeAdminResponse"/>
    </operation>
  </portType>
  <binding name="officeAdminBinding" type="tns:OfficeAdmin">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addVisitors">
      <soap:operation soapAction="addVisitors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHoliday">
      <soap:operation soapAction="addHoliday"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteHoliday">
      <soap:operation soapAction="deleteHoliday"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllHolidays">
      <soap:operation soapAction="getAllHolidays"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUnapprovedEmployees">
      <soap:operation soapAction="getUnapprovedEmployees"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOfficeAdmin">
      <soap:operation soapAction="getOfficeAdmin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxwsOfficeAdmin">
    <port binding="tns:officeAdminBinding" name="officeAdmin">
      <soap:address location="http://localhost:9080/AdminWS/JaxwsOfficeAdmin"/>
    </port>
  </service>
</definitions>