ProductWS/WebContent/WEB-INF/wsdl/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://main.service.product.sirius.com/product/wsdl" name="ProductService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.service.product.sirius.com/product/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://main.service.product.sirius.com/product/wsdl" schemaLocation="ProductService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getProductByID">
    <part name="parameters" element="tns:getProductByID"/>
  </message>
  <message name="getProductByIDResponse">
    <part name="parameters" element="tns:getProductByIDResponse"/>
  </message>
  <message name="getAllProductsByType">
    <part name="parameters" element="tns:getAllProductsByType"/>
  </message>
  <message name="getAllProductsByTypeResponse">
    <part name="parameters" element="tns:getAllProductByTypeResponse"/>
  </message>
  <message name="getAllProductsByName">
    <part name="parameters" element="tns:getAllProductsByName"/>
  </message>
  <message name="getAllProductsByNameResponse">
    <part name="parameters" element="tns:getAllProductsByNameResponse"/>
  </message>
  <message name="getAllProductsByNameAndType">
    <part name="parameters" element="tns:getAllProductsByNameAndType"/>
  </message>
  <message name="getAllProductsByNameAndTypeResponse">
    <part name="parameters" element="tns:getAllProductsByNameAndTypeResponse"/>
  </message>
  <portType name="Product">
    <operation name="getProductByID">
      <input wsam:Action="getProductByID" message="tns:getProductByID"/>
      <output wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getProductByIDResponse" message="tns:getProductByIDResponse"/>
    </operation>
    <operation name="getAllProductsByType">
      <input wsam:Action="getAllProductsByType" message="tns:getAllProductsByType"/>
      <output wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getAllProductsByTypeResponse" message="tns:getAllProductsByTypeResponse"/>
    </operation>
    <operation name="getAllProductsByName">
      <input wsam:Action="getAllProductsByName" message="tns:getAllProductsByName"/>
      <output wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getAllProductsByNameResponse" message="tns:getAllProductsByNameResponse"/>
    </operation>
    <operation name="getAllProductsByNameAndType">
      <input wsam:Action="getAllProductsByNameAndType" message="tns:getAllProductsByNameAndType"/>
      <output wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getAllProductsByNameAndTypeResponse" message="tns:getAllProductsByNameAndTypeResponse"/>
    </operation>
  </portType>
  <binding name="productBinding" type="tns:Product">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getProductByID">
      <soap:operation soapAction="getProductByID"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsByType">
      <soap:operation soapAction="getAllProductsByType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsByName">
      <soap:operation soapAction="getAllProductsByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsByNameAndType">
      <soap:operation soapAction="getAllProductsByNameAndType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProductService">
    <port name="product" binding="tns:productBinding">
      <soap:address location="http://localhost:9080/ProductWS/ProductService"/>
    </port>
  </service>
</definitions>

