AdminWS/WebContent/WEB-INF/wsdl/JaxwsOfficeAdmin.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://adminws.sirius.com/officeAdmin/wsdl" name="JaxwsOfficeAdmin" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://adminws.sirius.com/officeAdmin/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://adminws.sirius.com/officeAdmin/wsdl" schemaLocation="JaxwsOfficeAdmin_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addVisitors">
    <part name="parameters" element="tns:addVisitors"/>
  </message>
  <message name="addVisitorsResponse">
    <part name="parameters" element="tns:addVisitorsResponse"/>
  </message>
  <message name="addHoliday">
    <part name="parameters" element="tns:addHoliday"/>
  </message>
  <message name="addHolidayResponse">
    <part name="parameters" element="tns:addHolidayResponse"/>
  </message>
  <message name="deleteHoliday">
    <part name="parameters" element="tns:deleteHoliday"/>
  </message>
  <message name="deleteHolidayResponse">
    <part name="parameters" element="tns:deleteHolidayResponse"/>
  </message>
  <message name="getAllHolidays">
    <part name="parameters" element="tns:getAllHolidays"/>
  </message>
  <message name="getAllHolidaysResponse">
    <part name="parameters" element="tns:getAllHolidaysResponse"/>
  </message>
  <message name="getUnapprovedEmployees">
    <part name="parameters" element="tns:getUnapprovedEmployees"/>
  </message>
  <message name="getUnapprovedEmployeesResponse">
    <part name="parameters" element="tns:getUnapprovedEmployeesResponse"/>
  </message>
  <message name="getOfficeAdmin">
    <part name="parameters" element="tns:getOfficeAdmin"/>
  </message>
  <message name="getOfficeAdminResponse">
    <part name="parameters" element="tns:getOfficeAdminResponse"/>
  </message>
  <portType name="OfficeAdmin">
    <operation name="addVisitors">
      <input wsam:Action="addVisitors" message="tns:addVisitors"/>
      <output wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/addVisitorsResponse" message="tns:addVisitorsResponse"/>
    </operation>
    <operation name="addHoliday">
      <input wsam:Action="addHoliday" message="tns:addHoliday"/>
      <output wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/addHolidayResponse" message="tns:addHolidayResponse"/>
    </operation>
    <operation name="deleteHoliday">
      <input wsam:Action="deleteHoliday" message="tns:deleteHoliday"/>
      <output wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/deleteHolidayResponse" message="tns:deleteHolidayResponse"/>
    </operation>
    <operation name="getAllHolidays">
      <input wsam:Action="getAllHolidays" message="tns:getAllHolidays"/>
      <output wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/getAllHolidaysResponse" message="tns:getAllHolidaysResponse"/>
    </operation>
    <operation name="getUnapprovedEmployees">
      <input wsam:Action="getUnapprovedEmployees" message="tns:getUnapprovedEmployees"/>
      <output wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/getUnapprovedEmployeesResponse" message="tns:getUnapprovedEmployeesResponse"/>
    </operation>
    <operation name="getOfficeAdmin">
      <input wsam:Action="getOfficeAdmin" message="tns:getOfficeAdmin"/>
      <output wsam:Action="http://adminws.sirius.com/officeAdmin/wsdl/OfficeAdmin/getOfficeAdminResponse" message="tns:getOfficeAdminResponse"/>
    </operation>
  </portType>
  <binding name="officeAdminBinding" type="tns:OfficeAdmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addVisitors">
      <soap:operation soapAction="addVisitors"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addHoliday">
      <soap:operation soapAction="addHoliday"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteHoliday">
      <soap:operation soapAction="deleteHoliday"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllHolidays">
      <soap:operation soapAction="getAllHolidays"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUnapprovedEmployees">
      <soap:operation soapAction="getUnapprovedEmployees"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOfficeAdmin">
      <soap:operation soapAction="getOfficeAdmin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxwsOfficeAdmin">
    <port name="officeAdmin" binding="tns:officeAdminBinding">
      <soap:address location="http://localhost:9080/AdminWS/JaxwsOfficeAdmin"/>
    </port>
  </service>
</definitions>

