AdminWS/WebContent/WEB-INF/wsdl/SuperAdminService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://superadmin.service.sirius.com/superadmin/wsdl" name="SuperAdminService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://superadmin.service.sirius.com/superadmin/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://superadmin.service.sirius.com/superadmin/wsdl" schemaLocation="SuperAdminService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setBudgetByLocation">
    <part name="parameters" element="tns:SetBudgetByLocation"/>
  </message>
  <message name="setBudgetByLocationResponse">
    <part name="parameters" element="tns:SetBudgetByLocationResponse"/>
  </message>
  <message name="getBudgetByLocation">
    <part name="parameters" element="tns:GetBudgetByLocation"/>
  </message>
  <message name="getBudgetByLocationResponse">
    <part name="parameters" element="tns:GetBudgetByLocationResponse"/>
  </message>
  <message name="addLocation">
    <part name="parameters" element="tns:AddLocation"/>
  </message>
  <message name="addLocationResponse">
    <part name="parameters" element="tns:AddLocationResponse"/>
  </message>
  <message name="assignAdmin">
    <part name="parameters" element="tns:AssignAdmin"/>
  </message>
  <message name="assignAdminResponse">
    <part name="parameters" element="tns:AssignAdminResponse"/>
  </message>
  <portType name="SuperAdminService">
    <operation name="setBudgetByLocation">
      <input wsam:Action="SetBudgetByLocation" message="tns:setBudgetByLocation"/>
      <output wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/setBudgetByLocationResponse" message="tns:setBudgetByLocationResponse"/>
    </operation>
    <operation name="getBudgetByLocation">
      <input wsam:Action="GetBudgetByLocation" message="tns:getBudgetByLocation"/>
      <output wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/getBudgetByLocationResponse" message="tns:getBudgetByLocationResponse"/>
    </operation>
    <operation name="addLocation">
      <input wsam:Action="AddLocation" message="tns:addLocation"/>
      <output wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/addLocationResponse" message="tns:addLocationResponse"/>
    </operation>
    <operation name="assignAdmin">
      <input wsam:Action="AssignAdmin" message="tns:assignAdmin"/>
      <output wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/assignAdminResponse" message="tns:assignAdminResponse"/>
    </operation>
  </portType>
  <binding name="superadminBinding" type="tns:SuperAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setBudgetByLocation">
      <soap:operation soapAction="SetBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBudgetByLocation">
      <soap:operation soapAction="GetBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addLocation">
      <soap:operation soapAction="AddLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="assignAdmin">
      <soap:operation soapAction="AssignAdmin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SuperAdminService">
    <port name="superadmin" binding="tns:superadminBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

