SiriusOrderClient/WebContent/WEB-INF/wsdl/CartService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="CartService" targetNamespace="http://cart.service.sirius.com/cart/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cart.service.sirius.com/cart/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cart.service.sirius.com/cart/wsdl" schemaLocation="CartService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addProductToCart">
    <part element="tns:addProductToCart" name="parameters"/>
  </message>
  <message name="addProductToCartResponse">
    <part element="tns:addProductToCartResponse" name="parameters"/>
  </message>
  <message name="getAllProductsInCart">
    <part element="tns:getAllProductsInCart" name="parameters"/>
  </message>
  <message name="getAllProductsInCartResponse">
    <part element="tns:getAllProductsInCartResponse" name="parameters"/>
  </message>
  <message name="updateProductQuantityInCart">
    <part element="tns:updateProductQuantityInCart" name="parameters"/>
  </message>
  <message name="updateProductQuantityInCartResponse">
    <part element="tns:updateProductQuantityInCartResponse" name="parameters"/>
  </message>
  <message name="removeProductFromCart">
    <part element="tns:removeProductFromCart" name="parameters"/>
  </message>
  <message name="removeProductFromCartResponse">
    <part element="tns:removeProductFromCartResponse" name="parameters"/>
  </message>
  <message name="saveOrder">
    <part element="tns:saveOrder" name="parameters"/>
  </message>
  <message name="saveOrderResponse">
    <part element="tns:saveOrderResponse" name="parameters"/>
  </message>
  <message name="getOrderByOrderName">
    <part element="tns:getOrderByOrderName" name="parameters"/>
  </message>
  <message name="getOrderByOrderNameResponse">
    <part element="tns:getOrderByOrderNameResponse" name="parameters"/>
  </message>
  <message name="getAllProductsInCartByProductType">
    <part element="tns:getAllProductsInCartByProductType" name="parameters"/>
  </message>
  <message name="getAllProductsInCartByProductTypeResponse">
    <part element="tns:getAllProductsInCartByProductTypeResponse" name="parameters"/>
  </message>
  <message name="getProductQuantityInCartByProductId">
    <part element="tns:getProductQuantityInCartByProductId" name="parameters"/>
  </message>
  <message name="getProductQuantityInCartByProductIdResponse">
    <part element="tns:getProductQuantityInCartByProductIdResponse" name="parameters"/>
  </message>
  <message name="getAllSavedOrders">
    <part element="tns:getAllSavedOrders" name="parameters"/>
  </message>
  <message name="getAllSavedOrdersResponse">
    <part element="tns:getAllSavedOrdersResponse" name="parameters"/>
  </message>
  <message name="getMostRecentBudgetByLocation">
    <part element="tns:getMostRecentBudgetByLocation" name="parameters"/>
  </message>
  <message name="getMostRecentBudgetByLocationResponse">
    <part element="tns:getMostRecentBudgetByLocationsResponse" name="parameters"/>
  </message>
  <message name="getAllOrdersByProductType">
    <part element="tns:getAllOrdersByProductType" name="parameters"/>
  </message>
  <message name="getAllOrdersByProductTypeResponse">
    <part element="tns:getAllOrdersByProductTypeResponse" name="parameters"/>
  </message>
  <portType name="CartService">
    <operation name="addProductToCart">
      <input message="tns:addProductToCart" wsam:Action="addProductToCart"/>
      <output message="tns:addProductToCartResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/addProductToCartResponse"/>
    </operation>
    <operation name="getAllProductsInCart">
      <input message="tns:getAllProductsInCart" wsam:Action="getAllProductsInCart"/>
      <output message="tns:getAllProductsInCartResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllProductsInCartResponse"/>
    </operation>
    <operation name="updateProductQuantityInCart">
      <input message="tns:updateProductQuantityInCart" wsam:Action="updateProductQuantityInCart"/>
      <output message="tns:updateProductQuantityInCartResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/updateProductQuantityInCartResponse"/>
    </operation>
    <operation name="removeProductFromCart">
      <input message="tns:removeProductFromCart" wsam:Action="removeProductFromCart"/>
      <output message="tns:removeProductFromCartResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/removeProductFromCartResponse"/>
    </operation>
    <operation name="saveOrder">
      <input message="tns:saveOrder" wsam:Action="saveOrder"/>
      <output message="tns:saveOrderResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/saveOrderResponse"/>
    </operation>
    <operation name="getOrderByOrderName">
      <input message="tns:getOrderByOrderName" wsam:Action="getOrderByOrderName"/>
      <output message="tns:getOrderByOrderNameResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getOrderByOrderNameResponse"/>
    </operation>
    <operation name="getAllProductsInCartByProductType">
      <input message="tns:getAllProductsInCartByProductType" wsam:Action="getAllProductsInCartByProductType"/>
      <output message="tns:getAllProductsInCartByProductTypeResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllProductsInCartByProductTypeResponse"/>
    </operation>
    <operation name="getProductQuantityInCartByProductId">
      <input message="tns:getProductQuantityInCartByProductId" wsam:Action="getProductQuantityInCartByProductId"/>
      <output message="tns:getProductQuantityInCartByProductIdResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getProductQuantityInCartByProductIdResponse"/>
    </operation>
    <operation name="getAllSavedOrders">
      <input message="tns:getAllSavedOrders" wsam:Action="getAllSavedOrders"/>
      <output message="tns:getAllSavedOrdersResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllSavedOrdersResponse"/>
    </operation>
    <operation name="getMostRecentBudgetByLocation">
      <input message="tns:getMostRecentBudgetByLocation" wsam:Action="getMostRecentBudgetByLocation"/>
      <output message="tns:getMostRecentBudgetByLocationResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getMostRecentBudgetByLocationResponse"/>
    </operation>
    <operation name="getAllOrdersByProductType">
      <input message="tns:getAllOrdersByProductType" wsam:Action="getAllOrdersByProductType"/>
      <output message="tns:getAllOrdersByProductTypeResponse" wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllOrdersByProductTypeResponse"/>
    </operation>
  </portType>
  <binding name="cartBinding" type="tns:CartService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addProductToCart">
      <soap:operation soapAction="addProductToCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsInCart">
      <soap:operation soapAction="getAllProductsInCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProductQuantityInCart">
      <soap:operation soapAction="updateProductQuantityInCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeProductFromCart">
      <soap:operation soapAction="removeProductFromCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveOrder">
      <soap:operation soapAction="saveOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrderByOrderName">
      <soap:operation soapAction="getOrderByOrderName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsInCartByProductType">
      <soap:operation soapAction="getAllProductsInCartByProductType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProductQuantityInCartByProductId">
      <soap:operation soapAction="getProductQuantityInCartByProductId"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllSavedOrders">
      <soap:operation soapAction="getAllSavedOrders"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMostRecentBudgetByLocation">
      <soap:operation soapAction="getMostRecentBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllOrdersByProductType">
      <soap:operation soapAction="getAllOrdersByProductType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CartService">
    <port binding="tns:cartBinding" name="cart">
      <soap:address location="http://localhost:9080/CartWS/CartService"/>
    </port>
  </service>
</definitions>