SiriusOrderClient/WebContent/WEB-INF/wsdl/JaxwsEmployee.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="JaxwsEmployee" targetNamespace="http://employeews.sirius.com/employee/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employeews.sirius.com/employee/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://employeews.sirius.com/employee/wsdl" schemaLocation="JaxwsEmployee_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getEmployeeByEmail">
    <part element="tns:getEmployeeByEmail" name="parameters"/>
  </message>
  <message name="getEmployeeByEmailResponse">
    <part element="tns:getEmployeeByEmailResponse" name="parameters"/>
  </message>
  <message name="addEmployee">
    <part element="tns:addEmployee" name="parameters"/>
  </message>
  <message name="addEmployeeResponse">
    <part element="tns:addEmployeeResponse" name="parameters"/>
  </message>
  <message name="updateEmployee">
    <part element="tns:updateEmployee" name="parameters"/>
  </message>
  <message name="updateEmployeeResponse">
    <part element="tns:updateEmployeeResponse" name="parameters"/>
  </message>
  <portType name="Employee">
    <operation name="getEmployeeByEmail">
      <input message="tns:getEmployeeByEmail" wsam:Action="getEmployeeByEmail"/>
      <output message="tns:getEmployeeByEmailResponse" wsam:Action="http://employeews.sirius.com/employee/wsdl/Employee/getEmployeeByEmailResponse"/>
    </operation>
    <operation name="addEmployee">
      <input message="tns:addEmployee" wsam:Action="addEmployee"/>
      <output message="tns:addEmployeeResponse" wsam:Action="http://employeews.sirius.com/employee/wsdl/Employee/addEmployeeResponse"/>
    </operation>
    <operation name="updateEmployee">
      <input message="tns:updateEmployee" wsam:Action="updateEmployee"/>
      <output message="tns:updateEmployeeResponse" wsam:Action="http://employeews.sirius.com/employee/wsdl/Employee/updateEmployeeResponse"/>
    </operation>
  </portType>
  <binding name="employeeBinding" type="tns:Employee">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getEmployeeByEmail">
      <soap:operation soapAction="getEmployeeByEmail"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addEmployee">
      <soap:operation soapAction="addEmployee"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateEmployee">
      <soap:operation soapAction="updateEmployee"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxwsEmployee">
    <port binding="tns:employeeBinding" name="employee">
      <soap:address location="http://localhost:9080/EmployeeWS/JaxwsEmployee"/>
    </port>
  </service>
</definitions>