SiriusOrderClient/WebContent/WEB-INF/wsdl/JaxwsWishlist.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="JaxwsWishlist" targetNamespace="http://wishlistws.sirius.com/wishlist/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wishlistws.sirius.com/wishlist/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wishlistws.sirius.com/wishlist/wsdl" schemaLocation="JaxwsWishlist_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addToLikeTable">
    <part element="tns:addToLikeTable" name="parameters"/>
  </message>
  <message name="addToLikeTableResponse">
    <part element="tns:addToLikeTableResponse" name="parameters"/>
  </message>
  <message name="getAllEmployeesWhoLikedProduct">
    <part element="tns:getAllEmployeesWhoLikedProduct" name="parameters"/>
  </message>
  <message name="getAllEmployeesWhoLikedProductResponse">
    <part element="tns:getAllEmployeesWhoLikedProductResponse" name="parameters"/>
  </message>
  <message name="getAllProductsEmployeeLiked">
    <part element="tns:getAllProductsEmployeeLiked" name="parameters"/>
  </message>
  <message name="getAllProductsEmployeeLikedResponse">
    <part element="tns:getAllProductsEmployeeLikedResponse" name="parameters"/>
  </message>
  <message name="removeFromEmployeeWishlist">
    <part element="tns:removeFromEmployeeWishlist" name="parameters"/>
  </message>
  <message name="removeFromEmployeeWishlistResponse">
    <part element="tns:removeFromEmployeeWishlistResponse" name="parameters"/>
  </message>
  <message name="getAllEmployeesWhoLikedProducts">
    <part element="tns:getAllEmployeesWhoLikedProducts" name="parameters"/>
  </message>
  <message name="getAllEmployeesWhoLikedProductsResponse">
    <part element="tns:getAllEmployeesWhoLikedProductsResponse" name="parameters"/>
  </message>
  <portType name="Wishlist">
    <operation name="addToLikeTable">
      <input message="tns:addToLikeTable" wsam:Action="addToLikeTable"/>
      <output message="tns:addToLikeTableResponse" wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/addToLikeTableResponse"/>
    </operation>
    <operation name="getAllEmployeesWhoLikedProduct">
      <input message="tns:getAllEmployeesWhoLikedProduct" wsam:Action="getAllEmployeesWhoLikedProduct"/>
      <output message="tns:getAllEmployeesWhoLikedProductResponse" wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/getAllEmployeesWhoLikedProductResponse"/>
    </operation>
    <operation name="getAllProductsEmployeeLiked">
      <input message="tns:getAllProductsEmployeeLiked" wsam:Action="getAllProductsEmployeeLiked"/>
      <output message="tns:getAllProductsEmployeeLikedResponse" wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/getAllProductsEmployeeLikedResponse"/>
    </operation>
    <operation name="removeFromEmployeeWishlist">
      <input message="tns:removeFromEmployeeWishlist" wsam:Action="removeFromEmployeeWishlist"/>
      <output message="tns:removeFromEmployeeWishlistResponse" wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/removeFromEmployeeWishlistResponse"/>
    </operation>
    <operation name="getAllEmployeesWhoLikedProducts">
      <input message="tns:getAllEmployeesWhoLikedProducts" wsam:Action="getAllEmployeesWhoLikedProducts"/>
      <output message="tns:getAllEmployeesWhoLikedProductsResponse" wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/getAllEmployeesWhoLikedProductsResponse"/>
    </operation>
  </portType>
  <binding name="wishlistBinding" type="tns:Wishlist">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addToLikeTable">
      <soap:operation soapAction="addToLikeTable"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEmployeesWhoLikedProduct">
      <soap:operation soapAction="getAllEmployeesWhoLikedProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsEmployeeLiked">
      <soap:operation soapAction="getAllProductsEmployeeLiked"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeFromEmployeeWishlist">
      <soap:operation soapAction="removeFromEmployeeWishlist"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEmployeesWhoLikedProducts">
      <soap:operation soapAction="getAllEmployeesWhoLikedProducts"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxwsWishlist">
    <port binding="tns:wishlistBinding" name="wishlist">
      <soap:address location="http://localhost:9080/WishlistWS/JaxwsWishlist"/>
    </port>
  </service>
</definitions>