SiriusOrderClient/WebContent/WEB-INF/wsdl/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="ProductService" targetNamespace="http://main.service.product.sirius.com/product/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main.service.product.sirius.com/product/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://main.service.product.sirius.com/product/wsdl" schemaLocation="ProductService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getProductByID">
    <part element="tns:getProductByID" name="parameters"/>
  </message>
  <message name="getProductByIDResponse">
    <part element="tns:getProductByIDResponse" name="parameters"/>
  </message>
  <message name="getAllProductsByType">
    <part element="tns:getAllProductsByType" name="parameters"/>
  </message>
  <message name="getAllProductsByTypeResponse">
    <part element="tns:getAllProductByTypeResponse" name="parameters"/>
  </message>
  <message name="getAllProductsByName">
    <part element="tns:getAllProductsByName" name="parameters"/>
  </message>
  <message name="getAllProductsByNameResponse">
    <part element="tns:getAllProductsByNameResponse" name="parameters"/>
  </message>
  <message name="getAllProductsByNameAndType">
    <part element="tns:getAllProductsByNameAndType" name="parameters"/>
  </message>
  <message name="getAllProductsByNameAndTypeResponse">
    <part element="tns:getAllProductsByNameAndTypeResponse" name="parameters"/>
  </message>
  <portType name="Product">
    <operation name="getProductByID">
      <input message="tns:getProductByID" wsam:Action="getProductByID"/>
      <output message="tns:getProductByIDResponse" wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getProductByIDResponse"/>
    </operation>
    <operation name="getAllProductsByType">
      <input message="tns:getAllProductsByType" wsam:Action="getAllProductsByType"/>
      <output message="tns:getAllProductsByTypeResponse" wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getAllProductsByTypeResponse"/>
    </operation>
    <operation name="getAllProductsByName">
      <input message="tns:getAllProductsByName" wsam:Action="getAllProductsByName"/>
      <output message="tns:getAllProductsByNameResponse" wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getAllProductsByNameResponse"/>
    </operation>
    <operation name="getAllProductsByNameAndType">
      <input message="tns:getAllProductsByNameAndType" wsam:Action="getAllProductsByNameAndType"/>
      <output message="tns:getAllProductsByNameAndTypeResponse" wsam:Action="http://main.service.product.sirius.com/product/wsdl/Product/getAllProductsByNameAndTypeResponse"/>
    </operation>
  </portType>
  <binding name="productBinding" type="tns:Product">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getProductByID">
      <soap:operation soapAction="getProductByID"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsByType">
      <soap:operation soapAction="getAllProductsByType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsByName">
      <soap:operation soapAction="getAllProductsByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsByNameAndType">
      <soap:operation soapAction="getAllProductsByNameAndType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProductService">
    <port binding="tns:productBinding" name="product">
      <soap:address location="http://localhost:9080/ProductWS/ProductService"/>
    </port>
  </service>
</definitions>