SiriusOrderClient/WebContent/WEB-INF/wsdl/SuperAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="SuperAdminService" targetNamespace="http://superadmin.service.sirius.com/superadmin/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://superadmin.service.sirius.com/superadmin/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://superadmin.service.sirius.com/superadmin/wsdl" schemaLocation="SuperAdminService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setBudgetByLocation">
    <part element="tns:setBudgetByLocation" name="parameters"/>
  </message>
  <message name="setBudgetByLocationResponse">
    <part element="tns:setBudgetByLocationResponse" name="parameters"/>
  </message>
  <message name="getBudgetByLocation">
    <part element="tns:getBudgetByLocation" name="parameters"/>
  </message>
  <message name="getBudgetByLocationResponse">
    <part element="tns:getBudgetByLocationResponse" name="parameters"/>
  </message>
  <message name="addLocation">
    <part element="tns:addLocation" name="parameters"/>
  </message>
  <message name="addLocationResponse">
    <part element="tns:addLocationResponse" name="parameters"/>
  </message>
  <message name="assignAdmin">
    <part element="tns:assignAdmin" name="parameters"/>
  </message>
  <message name="assignAdminResponse">
    <part element="tns:assignAdminResponse" name="parameters"/>
  </message>
  <message name="getOffices">
    <part element="tns:getOffices" name="parameters"/>
  </message>
  <message name="getOfficesResponse">
    <part element="tns:getOfficesResponse" name="parameters"/>
  </message>
  <message name="getEmployeeIdByName">
    <part element="tns:getEmployeeIdByName" name="parameters"/>
  </message>
  <message name="getEmployeeIdByNameResponse">
    <part element="tns:getEmployeeIdByNameResponse" name="parameters"/>
  </message>
  <message name="getOfficeAdminNames">
    <part element="tns:getOfficeAdminNames" name="parameters"/>
  </message>
  <message name="getOfficeAdminNamesResponse">
    <part element="tns:getOfficeAdminNamesResponse" name="parameters"/>
  </message>
  <portType name="SuperAdmin">
    <operation name="setBudgetByLocation">
      <input message="tns:setBudgetByLocation" wsam:Action="setBudgetByLocation"/>
      <output message="tns:setBudgetByLocationResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/setBudgetByLocationResponse"/>
    </operation>
    <operation name="getBudgetByLocation">
      <input message="tns:getBudgetByLocation" wsam:Action="getBudgetByLocation"/>
      <output message="tns:getBudgetByLocationResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/getBudgetByLocationResponse"/>
    </operation>
    <operation name="addLocation">
      <input message="tns:addLocation" wsam:Action="addLocation"/>
      <output message="tns:addLocationResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/addLocationResponse"/>
    </operation>
    <operation name="assignAdmin">
      <input message="tns:assignAdmin" wsam:Action="assignAdmin"/>
      <output message="tns:assignAdminResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/assignAdminResponse"/>
    </operation>
    <operation name="getOffices">
      <input message="tns:getOffices" wsam:Action="getOffices"/>
      <output message="tns:getOfficesResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/getOfficesResponse"/>
    </operation>
    <operation name="getEmployeeIdByName">
      <input message="tns:getEmployeeIdByName" wsam:Action="getEmployeeIdByName"/>
      <output message="tns:getEmployeeIdByNameResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/getEmployeeIdByNameResponse"/>
    </operation>
    <operation name="getOfficeAdminNames">
      <input message="tns:getOfficeAdminNames" wsam:Action="getOfficeAdminNames"/>
      <output message="tns:getOfficeAdminNamesResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdmin/getOfficeAdminNamesResponse"/>
    </operation>
  </portType>
  <binding name="superadminBinding" type="tns:SuperAdmin">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="setBudgetByLocation">
      <soap:operation soapAction="setBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBudgetByLocation">
      <soap:operation soapAction="getBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addLocation">
      <soap:operation soapAction="addLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="assignAdmin">
      <soap:operation soapAction="assignAdmin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOffices">
      <soap:operation soapAction="getOffices"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmployeeIdByName">
      <soap:operation soapAction="getEmployeeIdByName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOfficeAdminNames">
      <soap:operation soapAction="getOfficeAdminNames"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SuperAdminService">
    <port binding="tns:superadminBinding" name="superadmin">
      <soap:address location="http://localhost:9080/AdminWS/SuperAdminService"/>
    </port>
  </service>
</definitions>