SiriusOrderClient/WebContent/WEB-INF/wsdl/SuperAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions name="SuperAdminService" targetNamespace="http://superadmin.service.sirius.com/superadmin/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://superadmin.service.sirius.com/superadmin/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://superadmin.service.sirius.com/superadmin/wsdl" schemaLocation="SuperAdminService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setBudgetByLocation">
    <part element="tns:SetBudgetByLocation" name="parameters"/>
  </message>
  <message name="setBudgetByLocationResponse">
    <part element="tns:SetBudgetByLocationResponse" name="parameters"/>
  </message>
  <message name="getBudgetByLocation">
    <part element="tns:GetBudgetByLocation" name="parameters"/>
  </message>
  <message name="getBudgetByLocationResponse">
    <part element="tns:GetBudgetByLocationResponse" name="parameters"/>
  </message>
  <message name="addLocation">
    <part element="tns:AddLocation" name="parameters"/>
  </message>
  <message name="addLocationResponse">
    <part element="tns:AddLocationResponse" name="parameters"/>
  </message>
  <message name="assignAdmin">
    <part element="tns:AssignAdmin" name="parameters"/>
  </message>
  <message name="assignAdminResponse">
    <part element="tns:AssignAdminResponse" name="parameters"/>
  </message>
  <portType name="SuperAdminService">
    <operation name="setBudgetByLocation">
      <input message="tns:setBudgetByLocation" wsam:Action="SetBudgetByLocation"/>
      <output message="tns:setBudgetByLocationResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/setBudgetByLocationResponse"/>
    </operation>
    <operation name="getBudgetByLocation">
      <input message="tns:getBudgetByLocation" wsam:Action="GetBudgetByLocation"/>
      <output message="tns:getBudgetByLocationResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/getBudgetByLocationResponse"/>
    </operation>
    <operation name="addLocation">
      <input message="tns:addLocation" wsam:Action="AddLocation"/>
      <output message="tns:addLocationResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/addLocationResponse"/>
    </operation>
    <operation name="assignAdmin">
      <input message="tns:assignAdmin" wsam:Action="AssignAdmin"/>
      <output message="tns:assignAdminResponse" wsam:Action="http://superadmin.service.sirius.com/superadmin/wsdl/SuperAdminService/assignAdminResponse"/>
    </operation>
  </portType>
  <binding name="superadminBinding" type="tns:SuperAdminService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="setBudgetByLocation">
      <soap:operation soapAction="SetBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBudgetByLocation">
      <soap:operation soapAction="GetBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addLocation">
      <soap:operation soapAction="AddLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="assignAdmin">
      <soap:operation soapAction="AssignAdmin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SuperAdminService">
    <port binding="tns:superadminBinding" name="superadmin">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>