WishlistWS/WebContent/WEB-INF/wsdl/JaxwsWishlist.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://wishlistws.sirius.com/wishlist/wsdl" name="JaxwsWishlist" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wishlistws.sirius.com/wishlist/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://wishlistws.sirius.com/wishlist/wsdl" schemaLocation="JaxwsWishlist_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addToLikeTable">
    <part name="parameters" element="tns:addToLikeTable"/>
  </message>
  <message name="addToLikeTableResponse">
    <part name="parameters" element="tns:addToLikeTableResponse"/>
  </message>
  <message name="getAllEmployeesWhoLikedProduct">
    <part name="parameters" element="tns:getAllEmployeesWhoLikedProduct"/>
  </message>
  <message name="getAllEmployeesWhoLikedProductResponse">
    <part name="parameters" element="tns:getAllEmployeesWhoLikedProductResponse"/>
  </message>
  <message name="getAllProductsEmployeeLiked">
    <part name="parameters" element="tns:getAllProductsEmployeeLiked"/>
  </message>
  <message name="getAllProductsEmployeeLikedResponse">
    <part name="parameters" element="tns:getAllProductsEmployeeLikedResponse"/>
  </message>
  <message name="removeFromEmployeeWishlist">
    <part name="parameters" element="tns:removeFromEmployeeWishlist"/>
  </message>
  <message name="removeFromEmployeeWishlistResponse">
    <part name="parameters" element="tns:removeFromEmployeeWishlistResponse"/>
  </message>
  <portType name="Wishlist">
    <operation name="addToLikeTable">
      <input wsam:Action="addToLikeTable" message="tns:addToLikeTable"/>
      <output wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/addToLikeTableResponse" message="tns:addToLikeTableResponse"/>
    </operation>
    <operation name="getAllEmployeesWhoLikedProduct">
      <input wsam:Action="getAllEmployeesWhoLikedProduct" message="tns:getAllEmployeesWhoLikedProduct"/>
      <output wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/getAllEmployeesWhoLikedProductResponse" message="tns:getAllEmployeesWhoLikedProductResponse"/>
    </operation>
    <operation name="getAllProductsEmployeeLiked">
      <input wsam:Action="getAllProductsEmployeeLiked" message="tns:getAllProductsEmployeeLiked"/>
      <output wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/getAllProductsEmployeeLikedResponse" message="tns:getAllProductsEmployeeLikedResponse"/>
    </operation>
    <operation name="removeFromEmployeeWishlist">
      <input wsam:Action="removeFromEmployeeWishlist" message="tns:removeFromEmployeeWishlist"/>
      <output wsam:Action="http://wishlistws.sirius.com/wishlist/wsdl/Wishlist/removeFromEmployeeWishlistResponse" message="tns:removeFromEmployeeWishlistResponse"/>
    </operation>
  </portType>
  <binding name="wishlistBinding" type="tns:Wishlist">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addToLikeTable">
      <soap:operation soapAction="addToLikeTable"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEmployeesWhoLikedProduct">
      <soap:operation soapAction="getAllEmployeesWhoLikedProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsEmployeeLiked">
      <soap:operation soapAction="getAllProductsEmployeeLiked"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeFromEmployeeWishlist">
      <soap:operation soapAction="removeFromEmployeeWishlist"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxwsWishlist">
    <port name="wishlist" binding="tns:wishlistBinding">
      <soap:address location="http://localhost:9080/WishlistWS/JaxwsWishlist"/>
    </port>
  </service>
</definitions>

