CartWS/WebContent/WEB-INF/wsdl/CartService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://cart.service.sirius.com/cart/wsdl" name="CartService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cart.service.sirius.com/cart/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cart.service.sirius.com/cart/wsdl" schemaLocation="CartService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addProductToCart">
    <part name="parameters" element="tns:addProductToCart"/>
  </message>
  <message name="addProductToCartResponse">
    <part name="parameters" element="tns:addProductToCartResponse"/>
  </message>
  <message name="getAllProductsInCart">
    <part name="parameters" element="tns:getAllProductsInCart"/>
  </message>
  <message name="getAllProductsInCartResponse">
    <part name="parameters" element="tns:getAllProductsInCartResponse"/>
  </message>
  <message name="updateProductQuantityInCart">
    <part name="parameters" element="tns:updateProductQuantityInCart"/>
  </message>
  <message name="updateProductQuantityInCartResponse">
    <part name="parameters" element="tns:updateProductQuantityInCartResponse"/>
  </message>
  <message name="removeProductFromCart">
    <part name="parameters" element="tns:removeProductFromCart"/>
  </message>
  <message name="removeProductFromCartResponse">
    <part name="parameters" element="tns:removeProductFromCartResponse"/>
  </message>
  <message name="saveOrder">
    <part name="parameters" element="tns:saveOrder"/>
  </message>
  <message name="saveOrderResponse">
    <part name="parameters" element="tns:saveOrderResponse"/>
  </message>
  <message name="getOrderByOrderName">
    <part name="parameters" element="tns:getOrderByOrderName"/>
  </message>
  <message name="getOrderByOrderNameResponse">
    <part name="parameters" element="tns:getOrderByOrderNameResponse"/>
  </message>
  <message name="getAllProductsInCartByProductType">
    <part name="parameters" element="tns:getAllProductsInCartByProductType"/>
  </message>
  <message name="getAllProductsInCartByProductTypeResponse">
    <part name="parameters" element="tns:getAllProductsInCartByProductTypeResponse"/>
  </message>
  <message name="getProductQuantityInCartByProductId">
    <part name="parameters" element="tns:getProductQuantityInCartByProductId"/>
  </message>
  <message name="getProductQuantityInCartByProductIdResponse">
    <part name="parameters" element="tns:getProductQuantityInCartByProductIdResponse"/>
  </message>
  <message name="getAllSavedOrders">
    <part name="parameters" element="tns:getAllSavedOrders"/>
  </message>
  <message name="getAllSavedOrdersResponse">
    <part name="parameters" element="tns:getAllSavedOrdersResponse"/>
  </message>
  <message name="getMostRecentBudgetByLocation">
    <part name="parameters" element="tns:getMostRecentBudgetByLocation"/>
  </message>
  <message name="getMostRecentBudgetByLocationResponse">
    <part name="parameters" element="tns:getMostRecentBudgetByLocationsResponse"/>
  </message>
  <portType name="CartService">
    <operation name="addProductToCart">
      <input wsam:Action="addProductToCart" message="tns:addProductToCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/addProductToCartResponse" message="tns:addProductToCartResponse"/>
    </operation>
    <operation name="getAllProductsInCart">
      <input wsam:Action="getAllProductsInCart" message="tns:getAllProductsInCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllProductsInCartResponse" message="tns:getAllProductsInCartResponse"/>
    </operation>
    <operation name="updateProductQuantityInCart">
      <input wsam:Action="updateProductQuantityInCart" message="tns:updateProductQuantityInCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/updateProductQuantityInCartResponse" message="tns:updateProductQuantityInCartResponse"/>
    </operation>
    <operation name="removeProductFromCart">
      <input wsam:Action="removeProductFromCart" message="tns:removeProductFromCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/removeProductFromCartResponse" message="tns:removeProductFromCartResponse"/>
    </operation>
    <operation name="saveOrder">
      <input wsam:Action="saveOrder" message="tns:saveOrder"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/saveOrderResponse" message="tns:saveOrderResponse"/>
    </operation>
    <operation name="getOrderByOrderName">
      <input wsam:Action="getOrderByOrderName" message="tns:getOrderByOrderName"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getOrderByOrderNameResponse" message="tns:getOrderByOrderNameResponse"/>
    </operation>
    <operation name="getAllProductsInCartByProductType">
      <input wsam:Action="getAllProductsInCartByProductType" message="tns:getAllProductsInCartByProductType"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllProductsInCartByProductTypeResponse" message="tns:getAllProductsInCartByProductTypeResponse"/>
    </operation>
    <operation name="getProductQuantityInCartByProductId">
      <input wsam:Action="getProductQuantityInCartByProductId" message="tns:getProductQuantityInCartByProductId"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getProductQuantityInCartByProductIdResponse" message="tns:getProductQuantityInCartByProductIdResponse"/>
    </operation>
    <operation name="getAllSavedOrders">
      <input wsam:Action="getAllSavedOrders" message="tns:getAllSavedOrders"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllSavedOrdersResponse" message="tns:getAllSavedOrdersResponse"/>
    </operation>
    <operation name="getMostRecentBudgetByLocation">
      <input wsam:Action="getMostRecentBudgetByLocation" message="tns:getMostRecentBudgetByLocation"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getMostRecentBudgetByLocationResponse" message="tns:getMostRecentBudgetByLocationResponse"/>
    </operation>
  </portType>
  <binding name="cartBinding" type="tns:CartService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addProductToCart">
      <soap:operation soapAction="addProductToCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsInCart">
      <soap:operation soapAction="getAllProductsInCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProductQuantityInCart">
      <soap:operation soapAction="updateProductQuantityInCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeProductFromCart">
      <soap:operation soapAction="removeProductFromCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveOrder">
      <soap:operation soapAction="saveOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrderByOrderName">
      <soap:operation soapAction="getOrderByOrderName"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsInCartByProductType">
      <soap:operation soapAction="getAllProductsInCartByProductType"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProductQuantityInCartByProductId">
      <soap:operation soapAction="getProductQuantityInCartByProductId"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllSavedOrders">
      <soap:operation soapAction="getAllSavedOrders"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMostRecentBudgetByLocation">
      <soap:operation soapAction="getMostRecentBudgetByLocation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CartService">
    <port name="cart" binding="tns:cartBinding">
      <soap:address location="http://localhost:9080/CartWS/CartService"/>
    </port>
  </service>
</definitions>

