CartWS/WebContent/WEB-INF/wsdl/CartService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://cart.service.sirius.com/cart/wsdl" name="CartService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cart.service.sirius.com/cart/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://cart.service.sirius.com/cart/wsdl" schemaLocation="CartService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addProductToCart">
    <part name="parameters" element="tns:AddProductToCart"/>
  </message>
  <message name="addProductToCartResponse">
    <part name="parameters" element="tns:AddProductToCartResponse"/>
  </message>
  <message name="getAllProductsInCart">
    <part name="parameters" element="tns:GetAllProductsInCart"/>
  </message>
  <message name="getAllProductsInCartResponse">
    <part name="parameters" element="tns:GetAllProductsInCartResponse"/>
  </message>
  <message name="updateProductQuantityInCart">
    <part name="parameters" element="tns:UpdateProductQuantityInCart"/>
  </message>
  <message name="updateProductQuantityInCartResponse">
    <part name="parameters" element="tns:UpdateProductQuantityInCartResponse"/>
  </message>
  <message name="removeProductFromCart">
    <part name="parameters" element="tns:RemoveProductFromCart"/>
  </message>
  <message name="removeProductFromCartResponse">
    <part name="parameters" element="tns:RemoveProductFromCartResponse"/>
  </message>
  <message name="saveOrder">
    <part name="parameters" element="tns:SaveOrder"/>
  </message>
  <message name="saveOrderResponse">
    <part name="parameters" element="tns:SaveOrderResponse"/>
  </message>
  <portType name="CartService">
    <operation name="addProductToCart">
      <input wsam:Action="AddProductToCart" message="tns:addProductToCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/addProductToCartResponse" message="tns:addProductToCartResponse"/>
    </operation>
    <operation name="getAllProductsInCart">
      <input wsam:Action="GetAllProductsInCart" message="tns:getAllProductsInCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/getAllProductsInCartResponse" message="tns:getAllProductsInCartResponse"/>
    </operation>
    <operation name="updateProductQuantityInCart">
      <input wsam:Action="UpdateProductQuantityInCart" message="tns:updateProductQuantityInCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/updateProductQuantityInCartResponse" message="tns:updateProductQuantityInCartResponse"/>
    </operation>
    <operation name="removeProductFromCart">
      <input wsam:Action="RemoveProductFromCart" message="tns:removeProductFromCart"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/removeProductFromCartResponse" message="tns:removeProductFromCartResponse"/>
    </operation>
    <operation name="saveOrder">
      <input wsam:Action="SaveOrder" message="tns:saveOrder"/>
      <output wsam:Action="http://cart.service.sirius.com/cart/wsdl/CartService/saveOrderResponse" message="tns:saveOrderResponse"/>
    </operation>
  </portType>
  <binding name="cartBinding" type="tns:CartService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addProductToCart">
      <soap:operation soapAction="AddProductToCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllProductsInCart">
      <soap:operation soapAction="GetAllProductsInCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateProductQuantityInCart">
      <soap:operation soapAction="UpdateProductQuantityInCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeProductFromCart">
      <soap:operation soapAction="RemoveProductFromCart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveOrder">
      <soap:operation soapAction="SaveOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CartService">
    <port name="cart" binding="tns:cartBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

